{% extends "base.html" %}

{% block content %}

<br>
<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container">

        <h3>Something's Wrong!</h3>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <p>This is most likely a phone number error or an internal one.</p>
            </div>
            <div>
                <p>Please try again. <a href="/" class="uk-link-muted">Return to home screen</a>.</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}