{% extends "base.html" %}

{% block content %}

<br>

<div class="uk-container uk-container-expand">
    <form action="/" method="POST" class="uk-form-stacked">

        <legend class="uk-legend">AT Airtime Demo</legend>

        <span class="uk-text-normal">Enter your phone number and hit send!</span>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Phone Number</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="text" name="phoneNumber" placeholder="Eg. +25472200000">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Message</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="text" name="message" placeholder="Eg. Wazzup!">
            </div>
        </div>

        <button class="uk-button uk-button-default" type="submit">Send Airtime</button>

    </form>
</div>

{% endblock %}